.mediaContainer {
  @include media(phone, tablet) {
    height: 36em;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}

.mobile-img {
  background: no-repeat center url("../images/mainPhone.png");
  background-size: cover;
  width: 100%;
  height: 12em;
  border-bottom: $accent-border-desktop;
}

.showTemplate {
  &-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &-info-container {
    display: flex;
    width: 100%;
    height: 38%;
    justify-content: space-around;
    align-items: center;
    border-bottom: $accent-border-desktop;

    @include media(phone, tablet) {
      height: 30%;
      font-size: 0.9em;
      border-bottom: none;
      margin-top: 1em;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    min-width: 25%;

    @include media(phone, tablet) {
      font-size: 0.8em;
    }

    h2 {
      font-size: 4em;
      font-family: $header-font;
      margin-bottom: 10px;

      @include media(phone, tablet) {
        font-size: 2em;
      }
    }

    span,
    p {
      font-size: 1.5em;
      font-family: $main-font;
      text-transform: uppercase;
      padding: 10px;

      @include media(phone, tablet) {
        font-size: 1.2em;
      }
    }

    span {
      border: 1px solid #000;
      border-radius: 3px;
    }
  }

  &-display {
    display: flex;
    height: 60%;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @include media(phone, tablet) {
      flex-direction: column;
      height: 60%;
      border-bottom: $accent-border-desktop;
      gap: 0;

      h2 {
        font-size: 1.5em;
        font-family: $main-font;
        text-transform: uppercase;
      }
    }

    &-row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      min-height: 50px;

      @include media(phone, tablet) {
        min-height: 0;
      }
    }

    &-arrows {
      display: flex;
      flex-direction: column;

      &-btn {
        border: none;
        background-color: $background-color;
      }
    }

    &-rowBeforePrevious,
    &-currentRow,
    &-previousRow,
    &-nextRow,
    &-rowAfterNext {
      display: grid;
      gap: 1px;
      flex-grow: 1;
      padding: 10px;
      border-radius: 3px;
    }

    &-currentRow {
      border: 1px solid #000;
    }

    &-previousRow,
    &-nextRow {
      scale: (0.9);
    }

    &-rowBeforePrevious,
    &-rowAfterNext {
      scale: (0.8);
    }
  }

  &-grid {
    display: grid;
    gap: 1px;
    flex-grow: 1;

    .currentRow {
      position: relative;

      &::before {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.small {
  height: 1.4em;
}

.smallPhone {
  height: 1.2em
}

.normal {
  height: 1.1em;
}

.normalPhone {
  height: 1.1em;
}

.big {
  height: 0.9em;
}

.bigPhone {
  height: 0.8em;
}

.biggest {
  height: 0.6em;
}

.biggestPhone {
  height: 0.8em;
}


