.showTemplate {
  &-main-container {
    display: flex;
    flex-direction: column;
  }

  &-info-container {
    display: flex;
    width: 100%;
    height: 38%;
    justify-content: space-around;
    align-items: center;
    border-bottom: $accent-border-desktop;
  }

  &-info {
    display: flex;
    flex-direction: column;
    min-width: 25%;

    h2 {
      font-size: 4em;
      font-family: $header-font;
      margin-bottom: 10px;
    }

    span,
    p {
      font-size: 1.5em;
      font-family: $main-font;
      text-transform: uppercase;
      padding: 10px;
    }

    span {
      border: 1px solid #000;
      border-radius: 3px;
    }
  }

  &-display {
    display: flex;
    height: 60%;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &-row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      min-height: 50px;
    }

    &-arrows {
      display: flex;
      flex-direction: column;

      &-btn {
        border: none;
        background-color: $background-color;
      }
    }

    &-rowBeforePrevious,
    &-currentRow,
    &-previousRow,
    &-nextRow,
    &-rowAfterNext {
      display: grid;
      gap: 1px;
      flex-grow: 1;
      padding: 10px;
      border-radius: 3px;
    }

    &-currentRow {
      border: 1px solid #000;
    }

    &-previousRow,
    &-nextRow {
      scale: (0.9);
    }

    &-rowBeforePrevious,
    &-rowAfterNext {
      scale: (0.8);
    }
  }

  &-grid {
    display: grid;
    gap: 1px;
    flex-grow: 1;
  }
}

.small {
  height: 1.4em;
}

.normal {
  height: 1.1em;
}

.big {
  height: 0.8em;
}

.biggest {
  height: 0.6em;
}
