.main {
  background-color: $background-color;

  &-container {
    display: flex;
    flex-direction: column;
  }

  &-content {
    display: flex;
    height: 100%;
  }

  &-nav {
    font-size: 40px;
    display: flex;
  }

  &-img {
    background: no-repeat center url("../images/main.png");
    background-size: cover;
    width: 50%;
    height: 100%;
    border-right: $accent-border-desktop;
  }

  &-links {
    width: 50%;
  }

  &-link {
    height: 30%;
    width: 100%;
    font-family: $header-font;
    border-bottom: $accent-border-desktop;

    h1 {
      display: block;
      width: 40%;
      font-size: 3em;
      font-weight: normal;
      padding: 9% 30% 0 10%;
      line-height: 1.2;

      &:after {
        content: "";
        display: block;
        background: url("../images/arrow1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 100%;
        height: 40px;
      }
    }

    & .arrow-right-main {
      width: 40%;
      height: auto;
      margin-left: 10.5%;
      margin-bottom: 2%;
    }
  }
}

.link {
  text-decoration: none;
  color: #000;

  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}

.secondary-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65%;
}

.secondary-link {
  justify-self: end;
  font-family: $header-font;
  font-size: 2em;
  width: 35%;
  margin-left: 10%;
  margin-top: 20%;

  & h2 {
    display: block;
    line-height: 1.1;
    margin-right: 0.8em;

    &:before {
      content: "";
      display: block;
      background: url("../images/arrow1.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% auto;
      width: 90%;
      height: 40px;
    }
  }

  &-right {
    align-self: end;
    display: block;
  }
}


.container-dashboard {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.main-container-dashboard {
  background-color: $background-color;
  max-width: $container-width;
  flex-direction: column;
  height: 100%;
  flex: 1;
  display: flex;
}

.main-nav {
  height: 6%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: $accent-border-desktop;
  background-color: #FFF;
  gap: 5px;


  &-logo {
    background-color: $background-color;
    width: 50%;
    color: $accent-color;
    display: flex;
    align-items: center;

    &-start {
      position: relative;

      &:before {
        content: "";
        display: block;
        background: url("../images/logo.png");
        background-size: 100% auto;
        height: 40px;
        width: 18.5px;
        position: absolute;
        left: 100%;
        transform: rotate(6deg);
      }
    }

    span {
      font-family: $header-font;
      font-size: 40px;
      padding-left: 20px;
    }
  }

  &-links {
    display: flex;
    font-family: $main-font;
    font-size: 20px;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    height: 100%;
    gap: 5px;
  }

  &-link {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: $background-color;
    flex: 1;
    justify-content: center;

    h2 {
      color: $accent-color;
      font-weight: 500;
    }
  }
}
