.main {
  background-color: $background-color;

  &-img {
    background: no-repeat center url("../images/main.png");
    background-size: cover;
    width: 50%;
    height: 100%;
    border-right: $accent-border-desktop;
  }

  &-links {
    width: 50%;
  }

  &-link {
    height: 30%;
    width: 100%;
    font-family: $header-font;
    border-bottom: $accent-border-desktop;

    h1 {
      display: block;
      width: 40%;
      font-size: 3em;
      font-weight: normal;
      padding: 9% 30% 0 10%;
      line-height: 1.2;

      &:after {
        content: "";
        display: block;
        background: url("../images/arrow1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 100%;
        height: 40px;
      }
    }

    & .arrow-right-main {
      width: 40%;
      height: auto;
      margin-left: 10.5%;
      margin-bottom: 2%;
    }
  }
}

.link {
  text-decoration: none;
  color: #000;

  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}

.secondary-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65%;
}

.secondary-link {
  justify-self: end;
  font-family: $main-font;
  font-size: 1.5em;
  width: 35%;
  margin-left: 10%;
  margin-top: 20%;

  & h2 {
    display: block;
    line-height: 1.4;
    margin-right: 0.8em;

    &:before {
      content: "";
      display: block;
      background: url("../images/arrow1.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% auto;
      width: 90%;
      height: 40px;
    }
  }

  &-right {
    align-self: end;
    display: block;
  }
}


