.container {
  .gallery_template-container {
    height: 100vh;
    background-color: #fff;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3, 33%);
    grid-auto-rows: 33%;
    gap: 5px;
  }
}

.gallery-template-link {
  background-color: #FFF;
  padding: 3px;
  overflow: auto;
  max-height: 70%;
  max-width: 45%;
  cursor: pointer;
}

.gallery-template {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    &-data {
      display: flex;
      gap: 1em;
      align-items: center;
      flex-direction: column;
      font-family: $main-font;
      text-transform: uppercase;
      font-size: 1.2em;
    }

    &-icons {
      font-size: 0.8em;
      display: flex;
      gap: 10px;
      cursor: pointer;
    }
  }
}

.template-gallery-grid {
  display: grid;
  gap: 1px;
  flex-grow: 1;
}
