//colors
$background-color: #f0e0d6;
$main-color: #679289;
$secondary-color: #1d7874;
$accent-color: #852e0f;
$border-color: #ffffff;

//fonts
$header-font: "Amiri", serif;
$main-font: "Montserrat", sans-serif;

//border
$accent-border-desktop: 5px solid $border-color;
$accent-border-phone: 3px solid $border-color;

//widths
$dashboard-width: 1440px;
$laptop-width: 1120px;
$tablet-width: 768px;
$phone-width: 390px;

@mixin laptop {
  @media (min-width: #{$tablet-width}) and (max-width: #{$laptop-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 94%;
}

.main-container {
  background-color: $background-color;
  max-width: $dashboard-width;
  height: 100%;
  flex: 1;
  display: flex;
}

.link {
  text-decoration: none;
  color: #000;

  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}