//colors
$background-color: #f0e0d6;
$main-color: #679289;
$secondary-color: #1d7874;
$accent-color: #852e0f;
$border-color: #ffffff;

//fonts
$header-font: "Amiri", serif;
$main-font: "Montserrat", sans-serif;

//border
$accent-border-desktop: 5px solid $border-color;
$accent-border-phone: 3px solid $border-color;

//widths
$container-width: 1440px;

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.main-container {
  background-color: $background-color;
  max-width: $container-width;
  height: 100%;
  flex: 1;
  display: flex;
}
