//colors
$background-color: #F0E0D6;
$main-color: #679289;
$secondary-color: #1D7874;
$accent-color: #852E0F;
$border-color: #FFFFFF;

//fonts
$header-font: 'Amiri', serif;
$main-font: 'Montserrat', sans-serif;

//border
$accent-border-desktop: 5px solid $border-color;
$accent-border-phone: 3px solid $border-color;

//widths
$container-width: 1440px;

