html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 94%;
}

.main-container {
  background-color: #f0e0d6;
  max-width: 1440px;
  height: 100%;
  flex: 1;
  display: flex;
}

.main {
  background-color: #f0e0d6;
}
.main-container {
  display: flex;
  flex-direction: column;
}
.main-content {
  display: flex;
  height: 100%;
}
.main-nav {
  font-size: 40px;
  display: flex;
}
.main-img {
  background: no-repeat center url("../images/main.png");
  background-size: cover;
  width: 50%;
  height: 100%;
  border-right: 5px solid #ffffff;
}
.main-links {
  width: 50%;
}
.main-link {
  height: 30%;
  width: 100%;
  font-family: "Amiri", serif;
  border-bottom: 5px solid #ffffff;
}
.main-link h1 {
  display: block;
  width: 40%;
  font-size: 3em;
  font-weight: normal;
  padding: 9% 30% 0 10%;
  line-height: 1.2;
}
.main-link h1:after {
  content: "";
  display: block;
  background: url("../images/arrow1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 40px;
}
.main-link .arrow-right-main {
  width: 40%;
  height: auto;
  margin-left: 10.5%;
  margin-bottom: 2%;
}

.link {
  text-decoration: none;
  color: #000;
}
.link:focus, .link:hover, .link:visited, .link:link, .link:active {
  text-decoration: none;
}

.secondary-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65%;
}

.secondary-link {
  justify-self: end;
  font-family: "Amiri", serif;
  font-size: 2em;
  width: 35%;
  margin-left: 10%;
  margin-top: 20%;
}
.secondary-link h2 {
  display: block;
  line-height: 1.1;
  margin-right: 0.8em;
}
.secondary-link h2:before {
  content: "";
  display: block;
  background: url("../images/arrow1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 90%;
  height: 40px;
}
.secondary-link-right {
  align-self: end;
  display: block;
}

.container-dashboard {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.main-container-dashboard {
  background-color: #f0e0d6;
  max-width: 1440px;
  flex-direction: column;
  height: 100%;
  flex: 1;
  display: flex;
}

.main-nav {
  height: 6%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #ffffff;
  background-color: #FFF;
  gap: 5px;
}
.main-nav-logo {
  background-color: #f0e0d6;
  width: 50%;
  color: #852e0f;
  display: flex;
  align-items: center;
}
.main-nav-logo-start {
  position: relative;
}
.main-nav-logo-start:before {
  content: "";
  display: block;
  background: url("../images/logo.png");
  background-size: 100% auto;
  height: 40px;
  width: 18.5px;
  position: absolute;
  left: 100%;
  transform: rotate(6deg);
}
.main-nav-logo span {
  font-family: "Amiri", serif;
  font-size: 40px;
  padding-left: 20px;
}
.main-nav-links {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  height: 100%;
  gap: 5px;
}
.main-nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f0e0d6;
  flex: 1;
  justify-content: center;
}
.main-nav-link h2 {
  color: #852e0f;
  font-weight: 500;
}

.title {
  font-family: "Amiri", serif;
  border-bottom: 5px solid #ffffff;
  height: 15%;
  display: flex;
  align-items: center;
}
.title-label {
  font-size: 3.5em;
  padding-left: 6%;
}
.title-label-name {
  font-family: "Amiri", serif;
  font-size: 0.9em;
  margin-left: 0.5em;
  width: 7em;
  height: 1.2em;
}

.template-container {
  flex-direction: column;
}

.template {
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
  height: 70%;
}

.template-grid {
  width: 60%;
  max-height: 100%;
  overflow: auto;
  align-self: center;
  justify-content: center;
  display: grid;
  gap: 1px;
}
.template-grid-item {
  cursor: pointer;
  border-radius: 50%;
}

.template-info {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding-left: 4%;
}
.template-info form {
  display: flex;
  flex-direction: column;
  gap: 5%;
  height: 60%;
}

.template-label {
  display: inline-flex;
  font-size: 24px;
}
.template-label-number {
  width: 46px;
  height: 24px;
  margin-left: 3em;
}
.template-label-checkbox {
  margin-left: 0.5em;
  width: 20px;
  cursor: pointer;
}

.template_color-picker {
  margin-left: 2em;
}

.template_choose-color {
  height: 50px;
  width: 50px;
}

.template-icons_container {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.template-icons_container span {
  font-size: 20px;
}
.template-icons_container div {
  display: flex;
}

.template_one-icon {
  align-self: center;
  justify-self: center;
}

.template-icons {
  height: 3em;
}

.template-icons_el {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

.fa-solid {
  font-size: 2em;
}

.fa-floppy-disk {
  color: #679289;
  margin-right: 0.3em;
}

.fa-eraser {
  color: #1d7874;
}

.fa-file-pdf {
  color: #852e0f;
  margin-right: 0.1em;
}

.container .main-container-projects {
  background-color: #ffffff;
}

.all-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.single-project {
  display: flex;
  height: 33%;
}

.scarf-img {
  height: 12em;
  width: auto;
}

.project-gallery-grid {
  height: 60%;
}
.project-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-right: 5px solid #ffffff;
  width: 35%;
}
.project-info {
  display: flex;
  width: 65%;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
}
.project_main-info {
  align-self: start;
  margin-top: 3.4em;
}
.project_main-info, .project_specific-info {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.container .gallery_template-container {
  height: 100%;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 33%;
  gap: 5px;
}

.all-projects {
  height: 100%;
}

.gallery-template-link {
  background-color: #FFF;
  padding: 3px;
  overflow: auto;
  max-height: 70%;
  max-width: 45%;
  cursor: pointer;
}

.gallery-template {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.gallery-template-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.gallery-template-info-data {
  display: flex;
  gap: 1em;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
}
.gallery-template-info-icons {
  font-size: 0.8em;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.template-gallery-grid {
  display: grid;
  gap: 1px;
  flex-grow: 1;
}

.showTemplate-main-container {
  display: flex;
  flex-direction: column;
}
.showTemplate-info-container {
  display: flex;
  width: 100%;
  height: 38%;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px solid #ffffff;
}
.showTemplate-info {
  display: flex;
  flex-direction: column;
  min-width: 25%;
}
.showTemplate-info h2 {
  font-size: 4em;
  font-family: "Amiri", serif;
  margin-bottom: 10px;
}
.showTemplate-info span,
.showTemplate-info p {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 10px;
}
.showTemplate-info span {
  border: 1px solid #000;
  border-radius: 3px;
}
.showTemplate-display {
  display: flex;
  height: 60%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.showTemplate-display-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 50px;
}
.showTemplate-display-arrows {
  display: flex;
  flex-direction: column;
}
.showTemplate-display-arrows-btn {
  border: none;
  background-color: #f0e0d6;
}
.showTemplate-display-rowBeforePrevious, .showTemplate-display-currentRow, .showTemplate-display-previousRow, .showTemplate-display-nextRow, .showTemplate-display-rowAfterNext {
  display: grid;
  gap: 1px;
  flex-grow: 1;
  padding: 10px;
  border-radius: 3px;
}
.showTemplate-display-currentRow {
  border: 1px solid #000;
}
.showTemplate-display-previousRow, .showTemplate-display-nextRow {
  scale: 0.9;
}
.showTemplate-display-rowBeforePrevious, .showTemplate-display-rowAfterNext {
  scale: 0.8;
}
.showTemplate-grid {
  display: grid;
  gap: 1px;
  flex-grow: 1;
}
.showTemplate-grid .currentRow {
  position: relative;
}
.showTemplate-grid .currentRow::before {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.small {
  height: 1.4em;
}

.normal {
  height: 1.1em;
}

.big {
  height: 0.8em;
}

.biggest {
  height: 0.6em;
}

/*# sourceMappingURL=App.css.map */
