@import '../general/variables.scss';

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.main-container {
  background-color: #F0E0D6;
  max-width: $container-width;
  height: 100%;
  flex: 1;
  display: flex;
}

.main-img {
  background: no-repeat center url("/images/main.png");
  background-size: cover;
  width: 50%;
  height: 100%;
  border-right: $accent-border-desktop;
}

.main-link {
  height: 30%;
  width: 100%;
  font-family: $header-font;
  & h1 {
    font-size: 62px;
    font-weight: normal;
  }
}