@import '../general/variables.scss';

.container {
  & .main-container-projects {
    background-color: #FFFFFF;
  }
}

.project-gallery-grid {
  height: 60%;

}

.all-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.single-project{
  display: flex;
  height: 33%;
}

.project-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-right: $accent-border-desktop;
  width: 35%;
}

.scarf-img {
  height: 12em;
  width: auto;
}

.project-info {
  display: flex;
  width: 65%;
  justify-content: space-around;
  align-items: center;
  font-family: $main-font;
  text-transform: uppercase;
  font-size: 1.2em;

  & .project_main-info {
    align-self: start;
    margin-top: 3.4em;
  }

  & .project_main-info,
  .project_specific-info {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}
