.template {

  &-icons {
    height: 3em;

    &-container {
      align-self: center;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include media(phone, tablet) {
        flex-direction: row;
        margin-bottom: 2em;
      }

      & span {
        font-size: 20px;

        @include media(tablet, phone) {
          font-size: 1em;
        }
      }

      & div {
        display: flex;
      }
    }

    &-el {
      display: flex;
      align-items: center;
      gap: 0.5em;
      cursor: pointer;

      @include media(tablet, phone) {
        font-size: 0.8em;
      }
    }
  }

  &-icon {
    font-size: 2em;

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
    }
  }
}

.fa-floppy-disk {
  color: $main-color;
  margin-right: 0.3em;
}

.fa-eraser {
  color: $secondary-color;
}

.fa-file-pdf {
  color: $accent-color;
  margin-right: 0.1em;
}