#numberOfRows,
#numberOfStitches {
  width: 6em;
}

.mediaContainerTemplate {
  height: 94%;
  @include media(phone, tablet) {
    height: 52em;
    border-bottom: $accent-border-desktop;
  }

  &-title {
    justify-content: center;
  }
}

.template {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;

  @include media(tablet, phone, laptop) {
    width: calc(100vw - 10px);
  }

  @include media(phone, tablet) {
    border-top: $accent-border-phone;
  }


  &-title {
    display: flex;
    justify-content: space-around;
    font-family: $header-font;
    align-items: center;
    font-size: 1.3em;
    height: 5em;
    cursor: pointer;
  }

  @include media(phone, tablet) {
    flex-direction: column;
    justify-content: space-around;
    gap: 3em;
  }

  &-grid {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    align-self: center;
    justify-content: center;
    display: grid;
    gap: 1px;

    &-container {
      display: flex;
      width: 50%;
      height: 90%;
      align-items: center;
      justify-content: center;

      @include media(phone, tablet) {
        height: 55%;
        width: 80%;
      }
    }

    &-item {
      cursor: pointer;
      border-radius: 50%;
    }
  }

  &-info {
    font-family: $main-font;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 35%;
    margin-right: 2%;

    @include media(phone, tablet) {
      height: 17%;
      width: 80%;
      margin: 1em;
      margin-top: 3em;
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 5%;
      height: 65%;
      margin-top: 6%;

      @include media(phone, tablet) {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-top: 0;
      }

      @include phone {
        gap: 8%;
      }

      &-labels {
        display: flex;
        flex-direction: column;
        gap: 1em;

        @include media(phone, tablet) {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 40%;
        }
        @include phone {
          width: 50%;
          gap: 1.4em;
        }
      }

      &-colors {
        display: flex;
        flex-direction: column;
        gap: 1em;
      }

      &-label {
        font-size: 22px;
        display: flex;
        justify-content: space-between;
        gap: 1em;

        @include laptop {
          font-size: 20px;
        }

        @include media(phone, tablet) {
          font-size: 1.1em;
          gap: 0.5em;
        }

        @include phone {
          font-size: 0.9em;
        }

        span {
          margin-top: 0.3em;
        }

        &-name {
          font-family: $main-font;
          margin-bottom: 2em;
          width: 10em;
          height: 1.4em;

          @include media(phone, tablet) {
            margin-bottom: 0;
            width: 5em;
          }

          @include phone {
            width: 4em;
          }
        }

        &-number {
          width: 46px;
          height: 24px;
          margin-right: 0.5em;
          font-family: $main-font;
          font-size: 0.9em;

          @include media(phone, tablet) {
            margin-right: 0;
          }
        }

        &-checkbox {
          width: 20px;
          height: 20px;
          cursor: pointer;
          margin-bottom: 2px;
        }
      }

      &-color {
        display: flex;
        gap: 0.5em;
        justify-content: center;
        align-items: center;
      }
    }
  }

}

